$fondo-blanco: #fefffe;
$fondo-celeste-claro: #7fc6e8;
$fondo-celeste: #42b6fb;
$fondo-amarillo: #ffe41e;

$fuente-bold: 'Quicksand', sans-serif;
$fuente-regular: verdana;

$fuente-blanca: #fefffe;
$fuente-gris-claro: #5b5b5b;
$fuente-negra: #000;
$fuente-gris: #efefef;

$bold: 700;

$titulo-principal: 60px;
$titulo: 30px;
$subtitulo: 20px;
$subtitulo-chico: 16px;
